{%- comment -%}
  Parameters:
  - desktop_video {Video}: Video to show on desktop screens.
  - mobile_video {Video}: Video to show on mobile screens.

  Usage:
  {%- render 'video-desktop-and-mobile', desktop_video: block.settings.video, mobile_video: block.settings.mobile_video -%}
{%- endcomment -%}

{% if mobile_video != blank %}
  <div class="mobile-video">
    <video autoplay muted loop playsinline poster={{ fall_back }}>
      <source src="{{ mobile_video | video_tag }}" type="video/mp4">
    </video>
  </div>
  <div class="desktop-video">
    <video autoplay muted loop playsinline poster={{ fall_back }}>
      <source src="{{ desktop_video | video_tag }}" type="video/mp4">
    </video>
  </div>
{% else %}
  <div class="mobile-desktop-video">
    <video autoplay muted loop playsinline poster={{ fall_back }}>
      <source src="{{ desktop_video | video_tag }}" type="video/mp4">
    </video>
  </div>
{% endif %}
